html {
  background-color: lightcyan;
}

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: azure;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkmagenta;
}

td {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
  background-color: darkslategray;
}

h2 {
  font-family: "audiowide", sans-serif;
  color: red;
}

form {
  display: table;
  border: 4px dotted black;
  background-color: azure;
}

p {
  display: table-row;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}
