* {
  font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: azure;
}

td {
  text-align: center;
}

form {
  display: table;
  border: 4px dotted black;
  background-color: azure;
}

p {
  display: table-row;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}
